@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-cyrillic_latin-regular.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Inter, sans-serif;
  background-color: #fff;
  font-size: 20px;
  line-height: 1.24;
  color: #1d1c1d;
}
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}
.header {
  padding: 0 24px;
  width: 100%;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.header__container {
  max-width: 1392px;
  backdrop-filter: blur(60px);
  background: rgba(108, 185, 171, 0.7);
  padding: 12px 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header__logo-link {
  font-size: 0;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__cart-link {
  width: 28px;
  height: 28px;
  font-size: 12px;
  background-image: url(../image/bag.svg);
  color: #64099b;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px 4px 3px;
}
.promo {
  background-color: #6cb9ab;
  color: #fff;
}
.promo__container {
  padding-top: 210px;
  padding-bottom: 80px;
  background-image: url(../image/bg-img.png);
  background-position: right 133px bottom 0;
  background-repeat: no-repeat;
}
.promo__title {
  font-weight: 400;
  font-size: 88px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 60px;
  max-width: 800px;
}
.promo__link {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 16px 24px;
}

.products {
  padding: 100px 0;
}

.products__title {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.1;
  color: #64099b;
  margin-top: 0;
  margin-bottom: 32px;
}
.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product {
  font-size: 0;
  background-color: #f2f9f7;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  color: #1d1c1d;
}
.procuct__content {
  flex-grow: 1;
  padding: 40px 24px 24px;
  display: flex;
  flex-direction: column;
}
.product__image {
  width: 100%;
}
.product__title {
  flex-grow: 1;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product__price {
  font-size: 20px;
}
.footer {
  background-color: #6cb9ab;
  padding: 60px 0;
  color: #fff;
}
.footer__container {
  display: grid;
  gap: 38px;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}
.footer__logo-link {
  font-size: 0;
}
.footer__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer__menu-link {
  margin-bottom: 38px;
}
.footer__copyright {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 17px;
}
.footer__description,
.footer__developer {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 16px;
}
.footer__email {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 16px;
}
.footer__social {
  display: flex;
  gap: 12px;
}
